@use '../variables/colors';
@use '../functions/var' as *;

.undernav {
    display: flex;
    min-width: 100% !important;
    min-height: 400px;
    margin: 0px;

    &__carousel {
        // max-height: 400px;
        // min-height: 400px;
        padding: 0px !important;
        margin: 0px !important;
    }

    &__kereso {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(themes-public-sidebarbg);
        padding: 0px;
    }

    .accordion {
        width: 100%;
    }

    .accordion-item {
        border: none;
    }

    .accordion-header {
        display: block;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .accordion-collapse {
        @media screen and (min-width: 768px) {
            display: flex !important;
        }
    }

    .accordion-body {
        background-color: var(themes-public-sidebarbg);
        padding: 0px;

        & .btn.btn-success {
            background-color: var(themes-public-viewbutton);
            color: var(themes-public-newfont);
        }
    }

    .accordion-button {
        background-color: var(themes-public-collapsebg);
        color: var(themes-public-collapsefontcolor);

        &::after {
            color: var(themes-public-collapsefontcolor) !important;
            border: none;
        }
    }

    .image-gallery {
        display: flex;
        min-width: 100%;
        max-width: 100%;
        min-height: 500px;
        max-height: 500px;

        @media screen and (min-width: 768px) {
            min-height: 100%;
            max-height: 100%;
        }

        .image-gallery-content,
        .image-gallery-slide-wrapper,
        .image-gallery-slide,
        .image-gallery-slides,
        .carousel_image {
            display: flex;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;

            img {
                height: 100%;
                width: 100%;

                @media screen and (min-width: 992px) {
                    height: 400px;
                    width: 65%;
                }
            }

            .image-gallery-bullets-container {
                display: none;

                @media screen and (min-width: 992px) {
                    display: block;
                }
            }

            @media screen and (min-width: 992px) {
                display: block !important;
            }
        }
    }

    .image-gallery-description {
        background-color: rgba($color: #000000, $alpha: 0.5);
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 35px;
        font-size: 1.2em;
    }
}
