html body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}

#root {
  /* min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw; */
  padding: 0px;
  margin: 0px;
  /*     background-image: var(themes-public-bgcolor); */
  /*     background-size: cover; */
}

.public_full {
  min-width: 100%;
  min-height: 100%;
}

.modal-body {
  display: grid;
  row-gap: 10px;
}

.grecaptcha-badge {
  visibility: hidden;
}

.recaptcha_text {
  font-size: 12px;
}

#logo {
  display: block;
  position: fixed;
  content: url("../images/logo_uj.png");
  height: 100px;
  padding: 10px;
  z-index: 222;
}
@media screen and (min-width: 992px) {
  #logo {
    display: block;
    height: 140px;
    padding: 10px;
    /*  border-radius: 10px 0px 0px 10px; */
  }
}

.plus_nav {
  display: grid;
  grid-template-columns: auto;
  position: fixed !important;
  min-width: 100%;
  max-width: 100%;
  z-index: 2;
  /*  background-color: rgba(0, 0, 0, 0.9); */
  background-color: rgb(255, 255, 255);
  /*   border-radius: 10px; */
  height: 60px !important;
  padding: 0px;
}
@media screen and (min-width: 992px) {
  .plus_nav {
    padding: 0px 10px;
    /*  min-height: 30px; */
  }
}
.plus_nav .nav-link {
  color: black;
  cursor: pointer;
  font-size: 0.8em;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .plus_nav .nav-link {
    font-size: 1em;
  }
}
.plus_nav .nav-link:hover {
  color: #14ac89;
}

.plus_content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
  font-weight: bolder;
  height: 75px;
  /* padding: 15px 5px; */
}
@media screen and (min-width: 992px) {
  .plus_content {
    justify-content: right;
    /* padding: 15px; */
  }
}

.fb-share-button {
  height: 30px;
}

.tel {
  font-size: 15px;
  white-space: wrap;
}
@media screen and (min-width: 768px) {
  .tel {
    font-size: 1.2em;
  }
}

.kozossegi {
  display: flex;
  position: relative;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  top: 8px;
}
@media screen and (min-width: 992px) {
  .kozossegi {
    position: unset;
    top: unset;
  }
}
.kozossegi a {
  color: white;
}

.kozossegi i {
  font-size: 1.7em;
  padding: 5px;
  cursor: pointer;
}

.kozossegi .fa-facebook-square {
  color: rgb(8, 122, 234);
}

.kozossegi .fa-tiktok {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(247, 0, 78);
  font-size: 25px;
}

.kozossegi .fa-instagram {
  background: -webkit-linear-gradient(69deg, rgb(221, 242, 6) 39%, rgb(240, 3, 3) 72%, rgb(255, 0, 215) 100%);
  background-clip: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kozossegi .fa-youtube {
  color: red;
}

.kozossegi .fa-whatsapp {
  color: rgb(0, 163, 86);
}

.admin_full {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0px;
}
.admin_full .admin_content {
  display: grid;
  grid-template-columns: auto 1fr;
}

.loading {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}
.loading .text-success {
  color: #14ac89 !important;
}
.loading .spinner-border {
  width: 100px;
  height: 100px;
  border-width: 0.5em;
}

.tartalom {
  position: relative;
  top: 101px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: calc(100vh - 200px);
  margin: 0px;
  background-color: rgb(237, 224, 122);
  /*     background-image: var(themes-public-navbarbgimage); */
  /*  background-size: contain; */
}
@media screen and (min-width: 992px) {
  .tartalom {
    top: 140px;
  }
}
.tartalom .inner_tartalom {
  background-color: rgba(255, 255, 255, 0.1);
}
.tartalom .myjob {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 238, 139);
  padding: 20px 0px;
  margin: 20px 5%;
  /*   margin: 0px; */
}
@media screen and (min-width: 950px) {
  .tartalom .myjob {
    margin: 0px 5%;
  }
}
.tartalom .myjob .job_title {
  text-align: center;
}
.tartalom .myjob .koszonjuk {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 25px;
  font-weight: bolder;
  width: 100%;
  height: 100%;
}
.tartalom .ingatlan_szolgaltatas {
  width: 100%;
  height: 100%;
  background-color: rgb(237, 224, 122);
  padding: 20px 0px;
  margin: 20px 5%;
  /*  margin: 0px; */
}
@media screen and (min-width: 950px) {
  .tartalom .ingatlan_szolgaltatas {
    margin: 0px 5%;
  }
}
.tartalom .ingatlan_szolgaltatas img {
  float: left;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 5px 5px 5px 0px;
}
@media screen and (min-width: 950px) {
  .tartalom .ingatlan_szolgaltatas img {
    height: 200px;
    width: 200px;
    margin: 20px 20px 10px 0px;
  }
}
.tartalom .ingatlan_szolgaltatas__leiras {
  width: inherit;
  height: inherit;
}
.tartalom .galeria {
  min-width: 66%;
  min-height: 400px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .tartalom .galeria {
    padding: 10px;
  }
}
.tartalom .galeria .image-gallery-slides {
  background-color: rgba(0, 0, 0, 0.8);
}
.tartalom .galeria .image-gallery-thumbnails {
  background-color: rgba(0, 0, 0, 0.8);
}
.tartalom .galeria .image-gallery-thumbnail-image {
  height: 65px;
}
.tartalom .galeria .image-gallery-image {
  object-fit: contain !important;
}
.tartalom .galeria .image-gallery-icon.image-gallery-fullscreen-button {
  background-color: rgba(0, 0, 0, 0.2);
}
.tartalom .galeria .image-gallery-icon.image-gallery-fullscreen-button svg {
  height: 20px;
  width: 20px;
}
.tartalom .galeria .image-gallery-content.fullscreen {
  margin: auto 0px;
  height: 100%;
}
.tartalom .galeria .image-gallery-content.fullscreen .image-gallery-icon.image-gallery-fullscreen-button {
  background-color: rgba(0, 0, 0, 0.8);
}
.tartalom .galeria .image-gallery-content.fullscreen .image-gallery-image {
  object-fit: fill !important;
  height: 100vh;
}
.tartalom .public_myart {
  width: 100%;
  height: 100%;
  margin: 20px 5%;
  padding: 20px 0px;
  background-color: rgb(237, 224, 122);
  /* margin: 0px; */
}
@media screen and (min-width: 950px) {
  .tartalom .public_myart {
    margin: 20px 5%;
  }
}
.tartalom .public_myart .myart_galeriak {
  display: flex;
  gap: 10px;
}
.tartalom .public_myart .myart_galeriak .myart_galeria {
  min-width: 100%;
  max-width: 100%;
}
.tartalom .public_myart .galeria_cim {
  text-align: center;
}
.tartalom .public_myart .muvesz_adatok .col-md-12 {
  text-align: justify;
}
.tartalom .public_myart .muvesz_kepek {
  display: block;
  min-width: 100%;
  max-width: 100%;
}
.tartalom .public_myart .muvesz_kepek .image-gallery-image {
  margin: 10px;
  width: 100%;
}
.tartalom .penzugyi_szolgaltatas {
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  margin: 20px 5%;
  background-color: rgb(237, 224, 122);
}
@media screen and (min-width: 950px) {
  .tartalom .penzugyi_szolgaltatas {
    margin: 0px 5%;
  }
}
.tartalom .penzugyi_szolgaltatas img {
  float: left;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 20px;
}
.tartalom .penzugyi_szolgaltatas__leiras {
  width: inherit;
  height: inherit;
}
.tartalom .penzugyi_szolgaltatas__kalkulator {
  position: relative;
  display: flex;
  min-height: 500px;
  max-height: 500px;
  /*  iframe {
      height: 500px;
  } */
}
.tartalom .adatkezeles {
  display: flex;
  background-color: rgb(237, 224, 122);
  max-width: 100%;
  padding: 20px 5%;
  overflow-x: hidden;
}
.tartalom .adatkezeles__leiras {
  max-width: 100%;
  word-break: break-word;
  overflow-x: hidden;
}
.tartalom .row {
  max-width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}
.tartalom .reszletes_kereso {
  background-color: rgb(120, 212, 223);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 100%;
}
.tartalom .reszletes_kereso button {
  background-color: rgb(147, 245, 98);
  color: black;
}
.tartalom .card {
  margin: 0px !important;
  padding: 0px !important;
}
@media screen and (min-width: 992px) {
  .tartalom {
    box-shadow: 0.25rem 0.25rem 4px 4px rgba(174, 255, 237, 0.514);
    /*         border-radius: 10px; */
  }
}

.tartalom-admin {
  display: flex;
  min-width: 100%;
  max-width: inherit;
  min-height: 100%;
  max-height: inherit;
  background-color: rgba(215, 197, 153, 0.5);
  padding: 10px;
}
.tartalom-admin table {
  border: 1px black solid;
}
.tartalom-admin .pagination.react-bootstrap-table-page-btns-ul {
  justify-content: flex-end;
}
.tartalom-admin .react-bootstrap-table-pagination div {
  padding: 0px;
}
.tartalom-admin .row {
  min-width: 100%;
  max-width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}
.tartalom-admin .tab_nav .nav-link {
  color: black;
  cursor: pointer;
  padding: 10px;
}
.tartalom-admin .tab_nav .nav-link:hover, .tartalom-admin .tab_nav .nav-link.active {
  background-color: white;
  color: black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.tartalom-admin .tab-content {
  margin: 10px -10px;
  padding: 20px 0px;
}
.tartalom-admin .ow-wysiwyg-editor {
  height: 400px;
  overflow-y: auto;
}

.ow-wysiwyg-editor {
  max-height: 400px !important;
  overflow-y: auto !important;
}

.keresos {
  padding: 0px;
  margin: 0px;
  min-width: inherit;
}
.keresos .row {
  margin: 0px;
  min-height: 100% !important;
  height: 100% !important;
}
@media screen and (min-width: 992px) {
  .keresos .row {
    height: 100% !important;
    min-height: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .keresos {
    min-height: 100% !important;
    height: 100% !important;
  }
}

.public-sidebar {
  margin-top: 10px;
  background-color: rgb(120, 212, 223);
  min-width: 100%;
  border-radius: 0px;
}
.public-sidebar .gyorskereso {
  width: 100%;
  padding: 10px;
}
.public-sidebar .ingatlanfeladform {
  width: 100%;
  padding: 10px;
}
.public-sidebar .accordion-item {
  border: none;
}
.public-sidebar .accordion-button {
  background-color: rgba(174, 255, 237, 0.514);
  color: rgb(0, 0, 0);
}
.public-sidebar .accordion-button::after {
  color: rgb(0, 0, 0) !important;
  border: none;
}
@media screen and (min-width: 992px) {
  .public-sidebar {
    min-width: 300px;
    max-width: 300px;
    border-radius: 10px;
  }
}

.public-inner-content {
  display: flex;
  flex: 1 1 calc(100% - 400px);
  flex-wrap: wrap;
  justify-content: flex-start;
  border: none;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .public-inner-content {
    justify-content: flex-start;
    margin: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .public-inner-content {
    justify-content: center;
    margin: 0px 5%;
  }
}
@media screen and (min-width: 1401px) {
  .public-inner-content {
    justify-content: flex-start;
    margin: 0px 8%;
  }
}
.public-inner-content .nodata {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  min-width: 100%;
  position: relative;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .public-inner-content .nodata {
    font-size: 1.2rem;
  }
}
.public-inner-content .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 300px; /*  Stretching: */
  max-height: 600px;
  margin: 6px !important;
  text-align: center;
  border: 1px black solid;
  box-shadow: none;
  overflow-wrap: break-word;
}
@media screen and (min-width: 768px) {
  .public-inner-content .card {
    flex: 0 1 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .public-inner-content .card {
    flex: 0 1 300px;
  }
}
@media screen and (min-width: 1201px) {
  .public-inner-content .card {
    flex: 0 1 300px;
  }
}
.public-inner-content .card img {
  /* min-height: 200px; */
  min-width: 250px;
  min-height: 200px;
  /* max-height: 200px; */
  max-width: 250px;
  max-height: 200px;
}
@media screen and (min-width: 768px) {
  .public-inner-content .card img {
    min-height: 200px;
    min-width: 250px;
    max-height: 200px;
    max-width: 250px;
  }
}
.public-inner-content .card .btn.btn-info {
  background-color: rgb(147, 245, 98);
  color: black;
}
.public-inner-content .card:hover {
  box-shadow: 5px 5px black;
}
.public-inner-content .card .card-footer {
  background-color: transparent;
  border: none;
}

.public-ingatlan-lista {
  display: flex;
  flex: 1 1 calc(100% - 400px);
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  border: none;
}
@media screen and (min-width: 768px) {
  .public-ingatlan-lista {
    justify-content: flex-start;
  }
}
.public-ingatlan-lista .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 300px; /*  Stretching: */
  max-height: 480px;
  margin: 6px !important;
  text-align: center;
  border: none;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .public-ingatlan-lista .card {
    flex: 0 1 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1090px) {
  .public-ingatlan-lista .card {
    flex: 0 1 300px;
  }
}
@media screen and (min-width: 1090px) {
  .public-ingatlan-lista .card {
    flex: 0 1 calc(20% - 12px);
  }
}
.public-ingatlan-lista .card img {
  min-height: 200px;
  min-width: 100%;
  max-height: 200px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .public-ingatlan-lista .card img {
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
  }
}
.public-ingatlan-lista .card:hover {
  box-shadow: 5px 5px black;
}
.public-ingatlan-lista .card .card-footer {
  background-color: white;
  border: none;
}

.admin {
  padding: 10px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #aaaaaa;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

.logincard {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
}
.logincard .card {
  min-width: inherit;
  min-height: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.public-navbar {
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  /* background-image: var(themes-public-navbarbgimage);
  background-size: contain; */
  margin: 0px auto;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0px;
  position: fixed !important;
  top: 60px;
  z-index: 2;
  padding: 10px !important;
}
@media screen and (min-width: 1080px) {
  .public-navbar {
    /* box-shadow: 0.25rem 0.25rem 4px 4px var(themes-public-boxshadowcolor); */
    font-size: 1em;
    /*  border-radius: 10px; */
  }
}
@media screen and (min-width: 992px) and (max-width: 1080px) {
  .public-navbar {
    /* box-shadow: 0.25rem 0.25rem 4px 4px var(themes-public-boxshadowcolor); */
    font-size: 1em;
    /*     border-radius: 10px; */
  }
}
.public-navbar .container-fluid {
  /*    background-color: var(themes-public-navbarbgcolor); */
  min-height: 100%;
  border-radius: 0px;
  padding: 0px;
  justify-content: right !important;
}
.public-navbar .container-fluid .navbar-toggler {
  position: relative;
  top: -28px;
  right: -7px;
  cursor: pointer;
  padding: 10px;
  margin: -14px 5px;
  border: 1px black solid;
  border-radius: 10px;
}
.public-navbar .container-fluid .navbar-toggler i {
  font-size: 30px;
  color: black !important;
}
@media screen and (min-width: 992px) {
  .public-navbar .container-fluid {
    border-radius: 10px;
    justify-content: space-between !important;
  }
}
.public-navbar__collapse {
  position: relative;
  top: 10px;
  padding-bottom: 0px !important;
}
@media screen and (min-width: 992px) {
  .public-navbar__collapse {
    top: unset;
    min-height: 60px;
    padding-left: 10px;
  }
}
.public-navbar__nav {
  padding: 10px 0px 0px 0px;
  /*  background-color: var(themes-public-navbgcolor); */
  width: 100%;
  border-radius: 0px;
  /* margin: 10px 0px; */
  font-size: 1em;
}
@media screen and (min-width: 992px) {
  .public-navbar__nav {
    align-items: center;
    padding: 0px;
    min-height: 60px;
    justify-content: right;
    /*   border-radius: 0px 10px 10px 0px; */
    font-size: 1.1em;
  }
}
.public-navbar__nav-item:hover {
  border-bottom: 0px;
}
@media screen and (min-width: 992px) {
  .public-navbar__nav-item:hover {
    border-bottom: 0px;
    background-color: unset;
  }
}
.public-navbar__nav-item #myart {
  color: rgb(235, 161, 0) !important;
}
@media screen and (min-width: 992px) {
  .public-navbar__nav-item {
    padding: 0px;
    min-height: 50px;
    display: flex;
    align-items: center;
  }
}
.public-navbar .nav-link {
  padding: 10px !important;
  white-space: nowrap;
  transition-property: background-color, border-bottom, text-shadow;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  color: rgb(0, 0, 0) !important;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.public-navbar .nav-link:hover {
  background-color: rgb(58, 214, 197);
  border: unset;
  text-shadow: 1px 1px rgb(58, 214, 197);
}
@media screen and (min-width: 992px) {
  .public-navbar .nav-link:hover {
    border-bottom: 5px solid rgb(58, 214, 197);
    background-color: unset;
  }
}
.public-navbar .nav-link.active {
  background-color: rgb(58, 214, 197);
  border: unset;
}
@media screen and (min-width: 992px) {
  .public-navbar .nav-link.active {
    border-bottom: 5px solid rgb(58, 214, 197);
    background-color: unset;
  }
}
@media screen and (min-width: 992px) {
  .public-navbar .nav-link {
    min-height: 55px;
    display: flex;
    align-items: center;
    padding: 5px !important;
  }
}
.public-navbar .dropdown-item {
  background-color: inherit;
  margin: 0px !important;
  color: inherit;
  padding: 0px 0px 0px 10px !important;
}
@media screen and (min-width: 992px) {
  .public-navbar .dropdown-item {
    background-color: rgb(255, 255, 255) !important;
    padding: 5px !important;
  }
}
.public-navbar .dropdown-item::hover {
  color: transparent !important;
  background-color: transparent !important;
}
.public-navbar .dropdown-menu {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 992px) {
  .public-navbar .dropdown-menu {
    transform: translate(0px, 60%) !important;
  }
}

.undernav {
  display: flex;
  min-width: 100% !important;
  min-height: 400px;
  margin: 0px;
  position: relative;
  top: 101px;
}
@media screen and (min-width: 992px) {
  .undernav {
    top: 140px;
  }
}
.undernav__carousel {
  padding: 0px !important;
  margin: 0px !important;
}
.undernav__kereso {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 212, 223);
  padding: 0px;
}
.undernav .accordion {
  width: 100%;
}
.undernav .accordion-item {
  border: none;
}
.undernav .accordion-header {
  display: block;
}
@media screen and (min-width: 992px) {
  .undernav .accordion-header {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .undernav .accordion-collapse {
    display: flex !important;
  }
}
.undernav .accordion-body {
  background-color: rgb(120, 212, 223);
  padding: 0px;
}
.undernav .accordion-body .btn.btn-success {
  background-color: rgb(147, 245, 98);
  color: black;
}
.undernav .accordion-button {
  background-color: rgba(174, 255, 237, 0.514);
  color: rgb(0, 0, 0);
}
.undernav .accordion-button::after {
  color: rgb(0, 0, 0) !important;
  border: none;
}
.undernav .image-gallery {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  min-height: 500px;
  max-height: 500px;
}
@media screen and (min-width: 992px) {
  .undernav .image-gallery {
    min-height: 100%;
    max-height: 100%;
  }
}
.undernav .image-gallery .image-gallery-content,
.undernav .image-gallery .image-gallery-slide-wrapper,
.undernav .image-gallery .image-gallery-slide,
.undernav .image-gallery .image-gallery-slides,
.undernav .image-gallery .carousel_image {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.undernav .image-gallery .image-gallery-content img,
.undernav .image-gallery .image-gallery-slide-wrapper img,
.undernav .image-gallery .image-gallery-slide img,
.undernav .image-gallery .image-gallery-slides img,
.undernav .image-gallery .carousel_image img {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .undernav .image-gallery .image-gallery-content img,
.undernav .image-gallery .image-gallery-slide-wrapper img,
.undernav .image-gallery .image-gallery-slide img,
.undernav .image-gallery .image-gallery-slides img,
.undernav .image-gallery .carousel_image img {
    height: 500px;
    width: 75%;
  }
}
.undernav .image-gallery .image-gallery-content .image-gallery-bullets-container,
.undernav .image-gallery .image-gallery-slide-wrapper .image-gallery-bullets-container,
.undernav .image-gallery .image-gallery-slide .image-gallery-bullets-container,
.undernav .image-gallery .image-gallery-slides .image-gallery-bullets-container,
.undernav .image-gallery .carousel_image .image-gallery-bullets-container {
  display: none;
}
@media screen and (min-width: 992px) {
  .undernav .image-gallery .image-gallery-content .image-gallery-bullets-container,
.undernav .image-gallery .image-gallery-slide-wrapper .image-gallery-bullets-container,
.undernav .image-gallery .image-gallery-slide .image-gallery-bullets-container,
.undernav .image-gallery .image-gallery-slides .image-gallery-bullets-container,
.undernav .image-gallery .carousel_image .image-gallery-bullets-container {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .undernav .image-gallery .image-gallery-content,
.undernav .image-gallery .image-gallery-slide-wrapper,
.undernav .image-gallery .image-gallery-slide,
.undernav .image-gallery .image-gallery-slides,
.undernav .image-gallery .carousel_image {
    display: block !important;
  }
}
.undernav .image-gallery-description {
  background-color: rgba(0, 0, 0, 0.5);
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 35px;
  font-size: 1.2em;
}

.ingatlan_card {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.ingatlan_card .ingatlan_adatok {
  padding: 0px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .ingatlan_card .ingatlan_adatok {
    width: 70%;
  }
}
.ingatlan_card .ingatlan_adatok .ingatlan_cim {
  background-color: rgb(235, 161, 0);
  color: black;
  padding: 10px 5px;
  font-size: 1em;
}
@media screen and (min-width: 992px) {
  .ingatlan_card .ingatlan_adatok .ingatlan_cim {
    font-size: 1.2em;
  }
}
.ingatlan_card .ingatlan_adatok .galeria {
  min-width: 66%;
  min-height: 400px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .ingatlan_card .ingatlan_adatok .galeria {
    padding: 10px;
  }
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-slides {
  background-color: rgba(0, 0, 0, 0.8);
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-thumbnails {
  background-color: rgba(0, 0, 0, 0.8);
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-thumbnail-image {
  height: 65px;
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-image {
  object-fit: contain !important;
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-icon.image-gallery-fullscreen-button {
  background-color: rgba(0, 0, 0, 0.2);
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-icon.image-gallery-fullscreen-button svg {
  height: 20px;
  width: 20px;
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-content.fullscreen {
  margin: auto 0px;
  height: 100%;
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-content.fullscreen .image-gallery-icon.image-gallery-fullscreen-button {
  background-color: rgba(0, 0, 0, 0.8);
}
.ingatlan_card .ingatlan_adatok .galeria .image-gallery-content.fullscreen .image-gallery-image {
  object-fit: fill !important;
  height: 100vh;
}
.ingatlan_card .ingatlan_adatok .alapadatok {
  font-size: 25px;
  background-color: rgb(235, 161, 0);
  color: black;
  padding: 15px;
}
.ingatlan_card .ingatlan_adatok .adatok .card-header {
  padding: 1rem !important;
}
.ingatlan_card .ingatlan_adatok .adatok .card-body {
  padding: 10px auto;
  white-space: pre-line;
}
.ingatlan_card .ertekesito_adatok {
  background-color: rgb(120, 212, 223);
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  padding: 5% 20px;
  gap: 20px;
}
.ingatlan_card .ertekesito_adatok .facebook-share {
  display: block;
  /*  position: relative; */
  width: fit-content;
  text-align: center;
  padding: 5px 10px;
  background-color: #4267b2;
  color: #fafafa;
  margin: 0 auto;
  font-size: 18px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}
.ingatlan_card .ertekesito_adatok .facebook-share i {
  font-size: 18px;
  padding: 5px;
}
.ingatlan_card .ertekesito_adatok .facebook-share :hover {
  /* padding: 10px; */
  color: #fafafa;
}
.ingatlan_card .ertekesito_adatok .elado_adatok {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ingatlan_card .ertekesito_adatok .elado_avatar img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.ingatlan_card .ertekesito_adatok .btn.btn-success {
  background-color: rgb(147, 245, 98);
  color: black;
}
.ingatlan_card .ertekesito_adatok .btn.btn-success i {
  color: black;
}
@media screen and (min-width: 992px) {
  .ingatlan_card .ertekesito_adatok {
    width: 30%;
  }
}

.public_rolunk {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  /* padding: 20px 2%; */
  align-self: baseline;
  background-color: rgb(237, 224, 122);
  margin: 0px;
}
.public_rolunk a {
  color: black;
}
@media screen and (min-width: 950px) {
  .public_rolunk {
    margin: 20px 5%;
    /* margin: 0px auto; */
    width: 100%;
  }
}
.public_rolunk .item {
  display: block;
  width: 100%;
}
@media screen and (min-width: 720px) {
  .public_rolunk .item {
    display: flex;
    flex-wrap: wrap;
  }
}
.public_rolunk__item {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  width: calc(100% - 20px);
  min-height: 300px;
  max-height: 300px;
  /*         max-width: 100%; */
  font-size: smaller;
  /*     height: minmax(fit-content, 150px); */
  /*   @media screen and (min-width: 950px) {
      width: calc(50% - 25px);
  } */
  /*     @media screen and (max-width: 500px) {
      padding: 10px;
      // width: calc(50% - 45px);
  } */
}
@media screen and (min-width: 720px) and (max-width: 1200px) {
  .public_rolunk__item {
    min-height: none;
    max-height: none;
    font-size: larger;
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media screen and (min-width: 1200px) {
  .public_rolunk__item {
    min-height: none;
    max-height: none;
    font-size: larger;
    min-width: calc(25% - 20px);
    max-width: calc(25% - 20px);
  }
}
.public_rolunk__item:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.public_rolunk__item.active {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.public_rolunk__alapadatok {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 100%;
  min-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.public_rolunk__kep {
  text-align: right;
  padding: 10px;
  align-items: center;
  display: flex;
}
.public_rolunk__kep img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.public_rolunk__leiras {
  padding: 20px 10px;
  min-height: 100%;
}
@media screen and (min-width: 950px) {
  .public_rolunk__leiras {
    padding: 20px 10px;
  }
}

.public_kapcsolat {
  height: 100%;
  margin: 20px 5%;
  background-color: rgb(237, 224, 122);
  /*     margin: 0px; */
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 950px) {
  .public_kapcsolat {
    margin: 20px 5%;
  }
}
.public_kapcsolat .kapcsolat_nev {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 60px;
  font-size: 1.2em;
  background-color: rgb(235, 161, 0);
  color: white;
}
.public_kapcsolat .kapcsolat_alapadatok {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.public_kapcsolat .kapcsolat_kep {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0px;
  gap: 10px;
}
@media screen and (min-width: 1500px) {
  .public_kapcsolat .kapcsolat_kep {
    width: calc(50% - 5px);
    flex-wrap: nowrap;
    display: block;
  }
}
.public_kapcsolat .kapcsolat_kep img {
  width: 100%;
}
.public_kapcsolat .kapcsolat_kep .kapcsolat_elerhetosegek {
  margin-top: 10px;
  font-size: 1.2em;
}
.public_kapcsolat .kapcsolat_kep .kapcsolat_terkep {
  display: flex;
  min-width: 100%;
  max-width: 100%;
}
.public_kapcsolat .kapcsolat_form {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  .public_kapcsolat .kapcsolat_form {
    width: calc(50% - 5px);
  }
}
.public_kapcsolat .kapcsolat_form .btn.btn-success {
  background-color: rgb(147, 245, 98);
  color: black;
}

.reklam_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  transform: rotate(-90deg) translate(-100%, 0) !important;
  transform-origin: left top !important;
  min-width: 100vh !important;
  min-height: 100vw !important;
  max-width: 100vh !important;
  max-height: 100vw !important;
  gap: 120px 120px;
  /*  column-gap: 170px; */
  /*   &:fullscreen, &:-ms-fullscreen, &:-moz-full-screen, &:-webkit-full-screen {
      transform: rotate(-180deg) translate(-100%, 0) !important;
      transform-origin: left top !important;
  } */
}

/* @media (orientation: landscape) {
    .reklam_container {
        transform: rotate(-90deg) translate(-100%, 0) !important;
        transform-origin: left top !important;
    }
  }

  @media (orientation: portrait) {
    .reklam_container {
        transform: rotate(-90deg) translate(-100%, 0) !important;
        transform-origin: left top !important;
    }
  }
 */
.reklamdiv {
  display: flex;
  flex-direction: column;
  text-orientation: sideways-right !important;
  text-align: center;
  /*  min-width: 50vh;
  max-width: 50vh;
  min-height: 50vw;
  max-height: 50vw; */
  min-width: calc(50vh - 60px);
  max-width: calc(50vh - 60px);
  min-height: calc(50vw - 60px);
  max-height: calc(50vw - 60px);
  font-size: smaller;
  /*  overflow: hidden; */
  /* max-width: calc(50% - 85px); */
  /* position: absolute;
  left: 0px;
  top: 0px; */
  /* min-width: calc(50vh - 85px);
  max-width: calc(50vh - 85px);

  max-height: calc(50vw - 85px); */
  /*     width: calc(50% - 85px);
  height: calc(50% - 85px); */
  /* font-size: 0.7rem; */
  /*     position: relative;
  top: 0px;
  left: 0px; */
}
.reklamdiv__kep {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40%;
  /*  width: 100%; */
  /*  padding: 0px 10px; */
}
.reklamdiv__kep img {
  width: 100%;
  height: 100%;
  /*   padding: 10px; */
}
.reklamdiv__cim {
  /*    position: relative;
  top: 0px;
  width: 100%; */
  text-align: center;
  height: fit-content;
  padding: 0px 10px;
}
.reklamdiv__refid {
  /*  position: relative;
  top: 0px;
  width: 100%; */
  height: fit-content;
  text-align: center;
  padding: 0px 10px;
}
.reklamdiv__leiras {
  /* position: relative;
  top: 0px;
  width: 100%;
  height: 50%; */
  font-size: x-small;
  /*  min-height: 50%;
  max-height: 50%; */
  text-align: center;
  padding: 0px 10px;
}
.reklamdiv__ar {
  /*   position: relative;
  top: 0px; */
  text-align: left;
  font-weight: bold;
  padding: 0px 10px 5px 10px;
  height: fit-content;
}

.admin-navbar {
  min-height: 80px;
  padding: 0px !important;
}
.admin-navbar__collapse {
  display: flex !important;
  justify-content: flex-end;
}
.admin-navbar #logo {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  content: url("../images/logo2.png");
  height: 80px;
  width: 300px;
  padding: 5px;
  background-color: #222222;
}
@media screen and (min-width: 992px) {
  .admin-navbar #logo {
    display: flex;
  }
}
.admin-navbar .navbar-nav {
  position: absolute;
  right: 15px;
}
.admin-navbar .dropdown-toggle img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px black solid;
}
.admin-navbar .dropdown-toggle:active,
.admin-navbar .dropdown-toggle:focus,
.admin-navbar .dropdown-toggle:hover {
  box-shadow: none !important;
  border: none !important;
  background-color: #ffc107;
}
.admin-navbar .dropdown-menu {
  background-color: #ffc107;
  border: none !important;
  transform: translate(15px, 71px) !important;
}

.admin-sidebar {
  flex-direction: column;
  width: 0px;
  height: 100%;
  padding: 0px !important;
  background-color: #222222;
}
.admin-sidebar .container-fluid {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
}
.admin-sidebar__toggler {
  display: block !important;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
}
@media screen and (min-width: 992px) {
  .admin-sidebar__toggler {
    left: 320px;
  }
}
.admin-sidebar .admin_collapse {
  width: 100%;
  height: 100%;
  display: none;
}
.admin-sidebar .admin_collapse.show {
  display: block;
}
.admin-sidebar .navbar-nav {
  height: inherit;
}
.admin-sidebar.show {
  width: 300px;
}
.admin-sidebar__navitem {
  line-height: 3;
}
.admin-sidebar__navlink {
  color: blanchedalmond;
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
}
.admin-sidebar__navlink:hover {
  background-color: whitesmoke;
  color: #222222 !important;
}
.admin-sidebar__navlink.active {
  background-color: whitesmoke;
  color: #222222 !important;
}

.public-footer {
  position: relative;
  top: 101px;
  bottom: 0px;
  height: 55px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.9);
  /* background-image: var(themes-public-footerbgimage); */
  background-size: contain;
}
@media screen and (min-width: 992px) {
  .public-footer {
    box-shadow: 0.25rem 0.25rem 4px 4px rgba(174, 255, 237, 0.514);
    top: 140px;
    /* border-radius: 10px; */
  }
}
.public-footer__div {
  /* background-color: var(themes-public-footerdivbgcolor); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.public-footer__div span {
  min-height: 55px;
  min-width: 100%;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (min-width: 992px) {
  .public-footer__div span {
    /*  border-radius: 10px; */
    font-size: 2vw;
  }
}
.public-footer__div span #inftechsol_link {
  color: white !important;
  text-decoration: none;
}

.admin-footer {
  position: relative;
  bottom: 0px;
  height: 55px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  color: black;
}

/*# sourceMappingURL=style.css.map */
