@forward "partials/default";
@forward "partials/public_navbar";
@forward "partials/public_undernav";
@forward "partials/public_ingatlanCard";
@forward "partials/public_rolunk";
@forward "partials/public_kapcsolat";
@forward "partials/public_reklam";
@forward "partials/admin_navbar";
@forward "partials/admin_sidebar";
@forward "partials/public_footer";
@forward "partials/admin_footer";
